* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

p {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    margin-top: 0;
    font-weight: bold;
}

.movie {
    width: 300px;
    cursor: pointer;
    margin: 20px;
    transition: all ease-in-out 0.5s;
}

img {
    filter: drop-shadow(5px 5px 4px #bebebe);
    border-radius: 3px;
}

.movieTile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie:hover {
    transform: scale(1.1);
}